@model IEnumerable<MVC2024.Controllers.VehiculoController.VehiculoTotal>

@{
    ViewData["Title"] = "ListadoVehiculoTotal";
}

<h1>ListadoVehiculoTotalConProcedimientoAlmacenado3</h1>

<form method="get">
    <select id="color" name="color" asp-items="ViewBag.color">
    </select>
    <input type="submit" />
</form>
<!--el id del select debe coincidir con el nombre del parametro q espera recibir el metodo en el controlador-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Marca")
            </th>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <th>
                @Html.DisplayName("Matricula")
            </th>
            <th>
                @Html.DisplayName("Color")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom_Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
            </tr>
        }
    </tbody>
</table>

