@model IEnumerable<MVC2024.Models.VehiculoModelo>
@{
    ViewData["Title"] = "PaginaMultiple";
}
<h1>PaginaMultiple</h1>

<form method="get">
    <select id="busca" name="busca" asp-items="ViewBag.Marcas4">
    </select>
    <input type="submit" value="Buscar" />
</form>

<form method="get">
    <select id="ser" name="ser" asp-items="ViewBag.Series2">
    </select>
    <input type="submit" value="Buscar" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Matricula)</th>
            <th>@Html.DisplayNameFor(model => model.Color)</th>
            <th>@Html.DisplayNameFor(model => model.Serie.NomSerie)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>@Html.DisplayFor(modelItem => item.Serie.NomSerie)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Script para enviar automáticamente los formularios cuando se hace una selección
    document.getElementById("busca").addEventListener("change", function () {
        this.form.submit();
    });

    document.getElementById("ser").addEventListener("change", function () {
        this.form.submit();
    });
</script>
