@model IEnumerable<MVC2024.Models.SerieModelo>

@{
    ViewData["Title"] = "Index";
}
<!--inicialmente no funcionara pq el index espera recibir una lista, pero no se la estas pasando-->
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead><!--encabezado de la tabla-->
        <tr>
            <th>
                @Html.DisplayName("Modelo")
            </th>
            <!--2 formas de hacer lo mismo-->
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody><!--item es un objeto de la clase serie-modelo-->
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nom_Marca)
            </td>
            <!--Atributo propio de otra clase-->
            <td>
                @Html.DisplayFor(modelItem => item.MarcaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
