@model MarcaModelo

@{
    ViewData["Title"] = "listado";
}

<h1 align="center">@Model.Nom_Marca</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nombre Serie")
            </th>
            <th>
                @Html.DisplayName("Id")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (SerieModelo item in Model.LasSeries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
